[submodule "CriticalCommonLib"]
	path = CriticalCommonLib
	url = https://github.com/decorwdyun/CriticalCommonLib.git
[submodule "OtterGui"]
	path = OtterGui
	url = https://github.com/Ottermandias/OtterGui.git
